name: Build Windows

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    - name: Install Libs
      run: |
        pip install -r requirements.txt
        pip install pyinstaller

    - name: Build executable
      run: |
        pyinstaller --noconfirm --onefile --windowed --name mtr加速器 --hidden-import PySide6 --hidden-import requests main.py

    - name: Upload executable
      uses: actions/upload-artifact@v2
      with:
        name: mtr加速器
        path: dist/mtr加速器.exe